.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 9rem;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-cyan);
    height:3.5rem ;
    letter-spacing: 1.2rem;
    font-size: 1.5rem;
    width: 100%;
    padding: 0 1rem
}