:root {
  font-family: 'Space Mono', monospace, sans-serif;

  line-height:normal;
  font-weight: 700;
  
  --primary-strong-cyan:#26C2AE;
  --dark-cyan: #00474B;
  --dark-grayish-cyan: #7F9D9F;
  --grayish-cyan: #5E7A7D;
  --light--grayish-cyan: #C5E4E7;;
  --very-light-grayish-cyan:#F3F9FA;
  --white: #FFFFFF;
  --error-message-color:#E17457;  
  
  background-color: var(--light--grayish-cyan);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  place-items: center;
  min-width: 375px;
  min-height: 100vh;
}


